.new-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.new-collection h1{
    border-bottom: 4px solid red;
    margin-bottom: 30px;
}
.collection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 83%;
}
