.NavBar-menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 30vh;
  background-color: rgba(192, 192, 192, 0.418);
}

@media only screen and (max-width: 767px) {
  .NavBar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
